.riddle_date {
  font-family: 'Inter', serif;
  font-weight: 500;
  color: #757575;
  font-size: 11px;
  padding: 30px 0 4px 10px;
  position: relative;
}

.riddle_container {
  border-radius: 20px;
  transition: background-color 0.3s ease;
  position: relative;
}

.riddle_block {
  display: flex;
  align-items: center;
}

.riddle_container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-image: linear-gradient(90deg, #f7f7f7 0%, rgba(246, 246, 246, 1) 100%);
  z-index: -1;
}

.riddle_container::after {
  content: '';
  border-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: opacity 0.3s ease;
  background: linear-gradient(90deg, rgba(190, 52, 107, 0.25) 0%, rgba(190, 52, 107, 0.1) 100%);
  z-index: -1;
}

.riddle-incorrect .riddle_container::before {
  opacity: 0;
  border-radius: 20px;
}

.riddle-incorrect .riddle_container::after {
  opacity: 1;
  border-radius: 20px;
}

.riddle-correct .riddle_container::after {
  background: linear-gradient(90deg, rgba(107, 190, 52, 0.25) 0%, rgba(107, 190, 52, 0.1) 100%);
  opacity: 1;
  border-radius: 20px;
}

.riddle_text {
  padding: 12px 15px;
  font-family: 'Courgette', cursive;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  width: 68%;
}

.riddle_expander {
  position: absolute;
  right: 10px;
}

.riddle_answerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-out, height 0.3s ease-out, visibility 0.3s linear, padding 0.4s linear;
}

.riddle_answerBlock-expanded {
  opacity: 1;
  height: auto;
  padding: 15px 0;
}

.riddle_answerLine {
  position: absolute;
  top: 0;
  margin: auto;
  width: 95%;
  height: 1px;
  border-bottom: 1px dashed;
  opacity: 0.2;
}

.riddle_answerBlock Input + div {
  margin-left: 5px;
}
