.riddle_date {
  font-family: 'Inter', serif;
  font-weight: 500;
  color: #757575;
  font-size: 11px;
  padding: 30px 0 4px 10px;
  position: relative;
}

.riddle_block {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #f7f7f7 0%, rgba(246, 246, 246, 1) 100%);
  border-radius: 20px;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.riddle_block::before,
.riddle_answerBlock::before {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.riddle_block::after,
.riddle_answerBlock::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  background: linear-gradient(90deg, rgba(190, 52, 107, 0.25) 0%, rgba(190, 52, 107, 0.1) 100%);
}

.riddle-incorrect .riddle_block::before,
.riddle-incorrect .riddle_answerBlock::before {
  opacity: 0;
}

.riddle-incorrect .riddle_block::after,
.riddle-incorrect .riddle_answerBlock::after {
  opacity: 1;
}

.riddle-correct .riddle_block::after,
.riddle-correct .riddle_answerBlock::after {
  background: linear-gradient(90deg, rgba(107, 190, 52, 0.25) 0%, rgba(107, 190, 52, 0.1) 100%);
  opacity: 1;
}

.riddle_answerBlock::after,
.riddle-incorrect .riddle_answerBlock::after,
.riddle-correct .riddle_answerBlock::after {
  border-radius: 0 0 20px 20px;
}

.riddle_block-expanded {
  border-radius: 20px 20px 0 0;
}

.riddle_text {
  padding: 12px 15px;
  font-family: 'Courgette', cursive;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  width: 68%;
}

.riddle_expander {
  position: absolute;
  right: 10px;
}

.riddle_answerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(90deg, #f7f7f7 0%, rgba(246, 246, 246, 1) 100%);
  position: relative;
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, height 0.3s ease-out, visibility 0.3s linear 0.3s;
}

.riddle_answerBlock-expanded {
  visibility: visible;
  opacity: 1;
  height: auto;
  transition-delay: 0.1s;
  padding: 10px 0;
}

.riddle_answerLine {
  position: absolute;
  top: 0;
  margin: auto;
  width: 95%;
  height: 1px;
  border-bottom: 1px dashed;
  opacity: 0.2;
}

.riddle_answerBlock Input + div {
  margin-left: 5px;
}
