.line-container {
  flex-wrap: nowrap;
  display: flex;
  margin: 20px 36px 0 36px;
}

.line1 {
  width: calc(50% - 250px);
  border-bottom: 1px solid black;
}

.line2 {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  line-height: 42px;
  padding: 0 25px 0 25px;
  height: 39px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.line3 {
  position: relative;
  width: calc(50% + 99px);
  border-bottom: 1px solid black;
}

@media screen and (max-width: 632px) {
  .line1 {
    width: 30px;
  }
  .line3 {
    width: calc(100% - 181px);
  }
}
