.container {
  min-width: 320px;
}

.line-container {
  flex-wrap: nowrap;
  display: flex;
  margin: 40px 36px 0 36px;
}

.line1 {
  width: calc(50% - 250px);
  height: 22px;
  border-bottom: 1px solid #000000;
}

.line2 {
  font-size: 16px;
  font-family: 'Inter', serif;
  font-weight: bolder;
  text-align: center;
  line-height: 42px;
  padding: 0 25px 0 25px;
  height: 39px;
  top: -17px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  position: relative;
}

.line3 {
  position: relative;
  width: calc(50% + 100px);
  height: 22px;
  border-bottom: 1px solid #000000;
}

.riddle {
  margin: auto;
  width: min(90%, 560px);
  position: relative;
}

.date {
  font-family: 'Inter', serif;
  color: #757575;
  font-size: 11px;
  padding: 30px 0 4px 10px;
  position: relative;
}

.block {
  background: linear-gradient(90.08deg, #F7F7F7 0%, rgba(246, 246, 246, 0.66) 99.86%);
  border-radius: 20px;
}

.text {
  padding: 12px 15px;
  font-family: 'Courgette', serif;
  font-weight: bold;
  font-size: 14px;
  font-style: oblique;
  position: relative;
  width: 68%;
}

@media screen and (max-width: 632px) {
  .line1 {
    width: 30px;
  }
  .line3 {
    width: calc(100% - 175px);
  }
  .riddle {
    width: calc(100% - 72px);
  }
}