.expanderButton {
    position: relative;
    width: 105px;
    height: 23px;
    background-color: transparent;
    border: none;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #945D0B;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.15s ease-in-out;
}

.expanderButton_img {
    margin-left: 5px;
    transition: transform 0.2s ease-in-out;
}

.expanderButton_img-down {
    transform: rotate(180deg);
}

.expanderButton:hover {
    background: rgba(52, 107, 190, 0.15);
}

.expanderButton:active {
    background: rgba(52, 107, 190, 0.3);
}
